<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海拉尔区人民医院</title>
    <link rel="stylesheet/less" type="text/css" href="../static/css/index.less"/>
    <link rel="stylesheet/less" type="text/css" href="../static/css/arctype.less"/>
    <script src="../static/js/http_cdn.staticfile.org_vue_2.2.2_vue.js"></script>
    <script src="../static/js/http_cdn.jsdelivr.net_npm_axios_dist_axios.js"></script>
    <script src="../static/js/__cdnjs.cloudflare.com_ajax_libs_less.js_2.5.3_less.js"></script>
    <link href="../static/css/http_maxcdn.bootstrapcdn.com_bootstrap_3.3.7_css_bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/http_unpkg.com_element-ui_lib_theme-chalk_index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="../static/js/http_unpkg.com_element-ui_lib_index.js"></script>
</head>
<body>
<div id="index">
    <div class="head">
        <p>
              <span class="head_item">
                  <span><img src="../static/image/index/img.png" alt="">邮编：523059</span>
                  <span><img src="../static/image/index/img_1.png" alt="">电话： 0769-28637333</span>
              </span>
            <span class="head_item">
                                    <span><img src="../static/image/index/img_2.png" alt="">咨询建议投诉</span>
                                    <span><img src="../static/image/index/img_3.png" alt="">网上预约</span>
                                    <span><img s rc="../static/image/index/img_4.png" alt="">满意度调查</span>


              </span>
        </p>
    </div>
    <div class="logo">
        <img src="../static/image/index/logo.svg" alt="">
        <div class="input-group">
            <el-input
                    placeholder="请输入内容"
                    v-model="search"
                    class="input"
            >
                <i slot="suffix" class="el-input__icon el-icon-search"></i>
            </el-input>
        </div>
    </div>

    <div class="navs">
        <span v-for="item in navs" @click="turntoartlist(item)">{{item}}</span>
    </div>

    <div class="list">
        <div class="list_left">
               <h3>医院概况</h3>
               <p v-for="item in list">
                   {{item}}
               </p>
        </div>
        <div class="list_right">
            <div class="artlist">
                <ul>
                    <li v-for="item in article">
                        <span @click="turntoarticle(item.title)"><img src="../static/image/arctype/img.png" alt="">  {{item.title}} </span>     <span>{{item.time}}</span>
                    </li>
                </ul>
            </div>

            <div class="page">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage4"
                        :page-sizes="[100, 200, 300, 400]"
                        :page-size="100"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="400">
                </el-pagination>
            </div>

        </div>
        </div>
        <div class="footer">
               <span class="title">海拉尔区人民医院</span>
               <span>
                   <span>网站首页</span>
                   <span>医院概况</span>
                   <span>院务公开</span>
                   <span>患者服务</span>
                   <span>医院新闻</span>
               </span>
               <span class="survey">
                   <span>
                        <img src="../static/image/arctype/img_1.png" alt="">
                        <p>职工满意度调查</p>
                   </span>
                    <span>
                        <img src="../static/image/arctype/img_2.png" alt="">
                        <p>职工满意度调查</p>
                   </span>
                     <span>
                        <img src="../static/image/arctype/img_3.png" alt="">
                         <p>职工满意度调查</p>
                   </span>
               </span>
        </div>
    </div>


</div>

<script>
    new Vue({
        el: '#index',
        data: function () {
            return {
                search:'请输入内容',
                visible: false,
                list:[
                    '医院简介',
                    '现任领导',
                    '院区设置',
                    '行政架构',
                    '临床科室',
                    '资质荣耀',
                ],
                article:[
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },
                    {
                        title:'东莞市人民医院临床科室管理树状图（医务科2020年11月修订）',
                        time:'2021-12-13'
                    },

                ],
                currentPage1: 5,
                currentPage2: 5,
                currentPage3: 5,
                currentPage4: 4,
                navs:[
                    '主页',
                    '医院概况',
                    '院务公开',
                    '患者服务',
                    '医院新闻',
                ]
            }
        },
        methods: {
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            turntoartlist(item){
                if(item=='主页'){
                    location.href='../index.html'
                }else{
                    location.href='./artlist.html'
                }
            },
            turntoarticle(title){
                location.href='../article/article.html'
            },

        },
    })
</script>
</body>
</html>